.catatanKeuangan-container {
    padding-top: 100px;
}

.info-catatanKeuangan {
    width: 70%;
}

.nominal-info {
    background-color: var(--primary-color);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
}

.catatanKeuangan-nav {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 80px;
}

.catatan-link {
    padding: 5px 20px;
    margin: auto;
}

.catatanKeuangan-nav .catatan-link a {
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.catatanKeuangan-nav .catatan-link a:hover {
    color: var(--color-text);
}

.catatanKeuangan-nav .catatan-link .active {
    background-color: white;
    border-radius: 50px;
    color: var(--primary-color);
}

.chart-info {
    width: 100%;
    height: 300px;
}

.info-siklus {
    background-color: var(--primary-color);
    width: 40%;
    border-radius: 20px;
} 

.siklus-keuangan {
    padding: 20px;
    border-radius: 20px;
}

.siklus-keuangan .btn-ubahsiklus {
    padding: 5px 10px;
    background-color: white;
    border: 0;
    color: var(--primary-color);
}

.card-keuangan {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-keuangan h5,
.card-keuangan p {
    color: white;
}

.modal-dialog .modal-footer {
    border-top: none;
}
