.login-container {
    background-color: var(--primary-light);
}

.area-box {
    width: 930px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(59, 19, 19, 0.2);
}

.btn-login {
    padding: 10px 20px 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 500;
}

.btn-login:hover {
    background-color: var(--primary-dark);
}

.btn-register {
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    color: var(--primary-color);
    border-radius: 5px;
    border: none;
    font-weight: 500;
    border: 1px solid var(--primary-color);
}

.btn-register:hover {
    background-color: var(--primary-dark);
    color: white;
}

.btn-register img {
    width: 20px;
    margin-right: 10px;
}

.first-name {
    margin-right: 10px;
}